<!-- Barre de navigation principale du site, role navigation pour l'accessibilité -->
<mat-toolbar color="primary" class="school-search-header" role="navigation" aria-label="Barre de navigation principale">
    <div class="logo-container">
      <!-- Logo du site -->
      <img src="assets/img/logo.jpg" alt="Logo School Finder" class="logo" />
      <span class="site-title">School Finder</span>
    </div>
    <nav class="navigation-container" aria-label="Menu principal">
      <ul class="nav-links">
        <li>
          <!-- Bouton Accueil -->
          <button (click)="goToHome()" mat-button aria-label="Aller à la page d'accueil">
            <mat-icon aria-hidden="true">home</mat-icon> Accueil
          </button>
        </li>
        <li>
          <!-- Bouton À propos -->
          <button (click)="goToAbout()" mat-button aria-label="Aller à la page À propos">
            <mat-icon aria-hidden="true">info</mat-icon> À Propos
          </button>
        </li>
      </ul>
    </nav>
</mat-toolbar>
